body {
  background-color: black;
}

.vert-slider {
  float: left;
  margin-right: 4px;
  width: 20px;
  height: 280px;
  padding: 0;
}

.vert-slider input {
  position: relative;
  left: -280px;
  top: 280px;
  width: 280px;
  height: 20px;
  margin: 0;
  transform-origin: 140px -140px;
  transform: rotate(270deg);
}

.horz-slider {
  position: relative;
  left: 24px;
  width: 280px;
  height: 20px;
  padding: 0;
}

.horz-slider input {
  width: 280px;
  height: 20px;
  margin: 0;
}

.shoespace-display {
  margin: 0 auto;
  width: 304px;
}

.shoespace-display-wrapper {
  display: flex;
  height: 700px;
  align-items: center;
  justify-content: space-around;
}