body {
  background-color: black;
}

h2 {
  color: white;
  text-align: center;
}

.vert-slider {
  float: left;
  margin-right: 4px;
  width: 10px;
  height: 140px;
  padding: 0;
}

.vert-slider input {
  position: relative;
  left: -140px;
  top: 140px;
  width: 140px;
  height: 10px;
  margin: 0;
  transform-origin: 70px -70px;
  transform: rotate(270deg);
}

.horz-slider {
  position: relative;
  left: 24px;
  width: 140px;
  height: 10px;
  padding: 0;
}

.horz-slider input {
  width: 140px;
  height: 10px;
  margin: 0;
}

.shoespace-display {
  margin: 0 auto;
  width: 154px;
}

.shoespace-display-wrapper {
  display: flex;
  height: 140px;
  align-items: center;
  justify-content: space-around;
}